#Config file for cgProject
#Please do not commit changes made to this file
#
#Settings that are processed only once, at startup
scene = test.obj
windowWidth = 800
windowHeight = 800
kdTreeLevels = 5
#Number of parts to be subdivided in a box when building the tree
kdTreeParts = 4
#
#Settings that can be reloaded by pressing 'c'
renderWidth = 200
renderHeight = 200
superSampling = 1
bounces = 1
outputfileName = render
outputfileType = png